<h1>Committees List</h1>
<hr>
<ul>
  {{#each model as |committee|}}
    <p><strong>Committee:</strong> {{#link-to 'subcommittees' committee.committee_id}} {{committee.name}} {{/link-to}}</p>
    <p><strong>Chamber:</strong> {{committee.chamber}}</p>
    <hr>
  {{/each}}
</ul>
