<h1>Enlightened Citizenry - A Resource for Political Information</h1>

<p>
  <i>"An enlightened citizenry is indispensable for the proper functioning of a republic. Self-government is not possible unless the citizens are educated sufficiently to enable them to exercise oversight." -Thomas Jefferson</i>
</p>

{{lookup-form save2ZipLookupComponent='save3ZipLookupRoute'}}
