<h1>Sub-Committees List</h1>

<h3>Click on the committee to see its subcommittee</h3>
<hr>
<ul>
  {{#each model as |committee|}}
    <p><strong>Committee:</strong> {{committee.name}}</p>
    <hr>
  {{/each}}
</ul>

{{#link-to 'index'}}home{{/link-to}}
